body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(234, 245, 254);
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.root {
    margin: 0.25rem;
}

.header {
    border: 1px solid #c9c9c9;
    border-radius: 0.25rem;
    background-color: #fff;
    padding: 0.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.flex-cont {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.songs-list {
    text-align: center;
}

.song-lyrics {
    white-space: pre;
}

.song-title {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    text-decoration: none;
    justify-content: center;
    color: #0176d3;
    padding: 0.35rem;
    padding: 0.35rem;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
    margin-left: 15%;
    margin-right: 15%;
    cursor: pointer;
}

.song-title-selected {
    color: #000;
    background-color: #fff;
}

.foot {
    border-top: 1px solid #0176d3;
    margin-top: 3rem;
    font-size: 0.75rem;
}

.foot p {
    margin: 0;
}
